<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
    This is my homepage.
</body>
</html>